<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignalRCoreMvcNotification</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                SignalRCoreMvcNotification
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Home</a>
                </div>
                <div class="navbar-nav ml-auto">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Home" asp-action="Login" class="nav-item nav-link">Login</a>
                        <a asp-controller="Home" asp-action="Register" class="nav-item nav-link">Sign Up</a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Login" class="nav-item nav-link">@User.Identity.Name</a>
                        <a asp-controller="Home" asp-action="Register" data-toggle="modal" data-target="#notificationModal" class="nav-item nav-link">Create Notification</a>
                        <a asp-controller="Home" asp-action="Logout" class="nav-item nav-link">Logout</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SignalRCoreMvcNotification
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
