@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script>
    (function setupConnection() {
        var connection = new signalR.HubConnectionBuilder().withUrl("/usershub").build();
        connection.start().catch(err => console.error(err.toString())).then(response => console.log("connected"));
    })();
</script>
<div class="text-center">
   
</div>
