@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script>
    (function setupConnection() {
        var connection = new signalR.HubConnectionBuilder().withUrl("/usershub").build();
        connection.start().catch(err => console.error(err.toString())).then(response => console.log("connected"));
        connection.on("connectuserlist", function (userlist) {
            for (var i = 0; i < userlist.length; i++) {
                var newOrderNode = document.createElement("TR");

                var row = document.createElement("TH");
                row.innerHTML = i;

                var username = document.createElement("TD");
                username.innerHTML = userlist[i].name;

                newOrderNode.appendChild(row);
                newOrderNode.appendChild(username);

                var mainTable = document.getElementById("onlineList");
                mainTable.append(newOrderNode);
            }
            
            console.log(userlist);
        });
    })();
</script>
<div class="text-center">
    <div class="col-md-12">
        <h3>Online Users</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody id="onlineList">
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            
        </tbody>
    </table>
</div>
